
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/templates/panier
/templates/test.html.twig
/src/DataFixtures
/src/Controller/PanierController.php
/src/Controller/TestController.php

###< symfony/framework-bundle ###
